body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: hsl(0, 0%, 98%);
}

header {
    max-width: 500px;
    text-align: center;
    margin: 100px auto 50px auto;
}

h1 {
    font-weight: 200;
    margin: 0;
}

h1 span {
    font-weight: 600;
}

p {
   color: hsl(229, 6%, 66%);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
}

.box {
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 30px;
    margin: 15px;
    width: 300px;
}

.box h2 {
    margin: 0;
}

.box img {
    display: block;
    margin-left: auto;
}

.box-cyan {
    border-top: 5px solid hsl(180, 62%, 55%);
}

.box-red {
    border-top: 5px solid hsl(0, 78%, 62%);
}

.box-orange {
    border-top: 5px solid hsl(34, 97%, 64%);
}

.box-blue {
    border-top: 5px solid hsl(212, 86%, 64%);
}

.box-push {
    transform: translateY(50%);
}



/* Beforehand present CSS code */
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 125px;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }


/* Media queries*/
@media (max-width: 795px) {
    .box-push {
        transform: translateY(0);
    }
}
